@import url("http://fonts.font.im/css?family=Roboto+Mono:300");
video {
    width: 99.5%;
}

@media screen and (min-width: 767px) {
    body {
        margin-left: 5px;
        margin-right: 10px;
    }
    video {
        width: 50%;
        float: left;
        margin-right: 5px;
    }
    #txt {
        position: absolute;
    }
}

#txt {
    font-family: 'Roboto Mono';
    font-size: 10px;
    line-height: 10px;
    width: 0px;
    transform-origin: top left;
    left: -5px;
    right: 0px;
    top: 0px;
}

canvas {
    display: none;
}

.clear {
    clear: both;
}

.range_div {
    float: left;
}

.upload-div {
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 767px) {
    .upload-div {
        float: right;
    }
}

#upload-button,
#text-button {
    height: 27px;
    width: 101px;
}

.upload-div p {
    margin-bottom: 3px;
}

#upload-button {
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.hidden {
    position: absolute;
    visibility: hidden;
    width: 99%;
    top: 0;
}

@media screen and (max-width: 767px) {
    .hidden {
        width: 96%;
    }
}